<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkommen til Ønskelisten</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <h1>Velkommen til Ønskelisten</h1>
    <p>Det perfekte sted for at organisere og dele gaver med venner og familie.</p>
</header>

<div class="container">
    <section class="form-info">
        <p>Hold styr på din ønskeliste og del dem med andre, så du altid får den perfekte gave!</p>
        <a href="/login">
            <button>Gå til login</button>
        </a>
        <a href="/signup">
            <button>Opret en konto</button>
        </a>
    </section>
</div>

</body>
</html>
