<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkommen til Ønskelisten</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="header">
    <h1>Velkommen til ønskelisten!</h1>
    <p>Dit perfekte sted for at organisere ønsker og dele dem med dine venner og familie!</p>
    <p>Hold styr på hvilke ønsker du har, så det er nemmere at dele dem med dine nære venner og familie!</p>
</header>
<section class="cta-buttons">
    <a href="/login" class="btn btn-primary">Gå til login</a>
    <a href="/signup" class="btn btn-secondary">Opret en konto</a>
</section>
<footer>
    <p>&copy; 2024 Ønskeliste. All rights reserved.</p>
</footer>
</body>
</html>