<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overblik</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <h1>wishlist</h1>
    <div style="text-align: center">
        <p th:text="${firstName + ' ' + lastName}"/>
        <p th:text="${email}" style="font-size: 0.8em"/>
    </div>
    <a href="/logout">
        <button>Log ud</button>
    </a>
</header>

<div class="container">
    <h2 th:text="${'Velkommen ' + firstName}"/>

    <div th:if="${success} or ${error}">
        <p th:text="${success}" class="success"/>
        <p th:text="${error}" class="danger"/>
    </div>

    <form th:action="@{/wishlist/create}" method="post">
        <div>
            <h3><label for="wishListName">Lav en ny ønskeliste</label></h3>
            <input type="text" id="wishListName" name="wishListName" placeholder="Navn på ønskeliste" required>
        </div>
        <button type="submit">Opret</button>
    </form>

    <div class="wishlist-container">
        <div class="wishlist-box" th:each="wishlist: ${wishLists}">
            <h3 th:text="${wishlist.wishListName}"></h3>
            <a th:href="@{/wishlist/{id}(id=${wishlist.wishListId})}">
                <button type="button">Se ønsker</button>
            </a>
            <form th:action="@{/wishlist/delete/{wishListId}(wishListId=${wishlist.wishListId})}" method="post">
                <button class="delete-button" type="submit">Slet</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>