<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overblik</title>
    <link rel="stylesheet" th:href="@{/css/main.css?v=31}">
</head>
<body>
<header>
    <a th:href="@{'/overview'}"><h1>wishlist</h1></a>
    <div style="text-align: center">
        <p th:text="${loggedInUser.getFirstName() + ' ' + loggedInUser.getLastName()}"/>
        <p th:text="${loggedInUser.getEmail()}" style="font-size: 0.8em"/>
    </div>
    <a href="/logout">
        <button>Log ud</button>
    </a>
</header>
<div class="container">
    <h2 th:text="${'Velkommen ' + loggedInUser.getFirstName()}"/>

    <div th:if="${success}" class="success">
        <p th:text="${success}"></p>
    </div>

    <form th:action="@{/wishlist/create}" method="post">
        <div>
            <h3><label for="wishListName">Lav en ny ønskeliste</label></h3>
            <input type="text" id="wishListName" name="wishListName" placeholder="Navn på ønskeliste" required>
        </div>

        <button type="submit">Opret</button>
    </form>

    <div class="wishlist-container">
        <div class="wishlist-box" th:each="wishlist: ${wishLists}">
            <h3 th:text="${wishlist.wishListName}"></h3>
            <a th:href="@{/wishlist/{id}(id=${wishlist.wishListId})}" class="view-link">Se ønsker</a>
        </div>
    </div>

</div>
</body>
</html>