<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${wishList.wishListName}"></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <a th:href="@{'/overview'}"><h1>wishlist</h1></a>
    <div style="text-align: center" th:if="${loggedInUser}">
        <p th:text="${loggedInUser.getFirstName() + ' ' + loggedInUser.getLastName()()}"/>
        <p th:text="${loggedInUser.getEmail()}" style="font-size: 0.8em"/>
    </div>
    <a href="/logout" th:if="${loggedInUser}">
        <button>Log ud</button>
    </a>
</header>
<div class="container">
    <div style="text-align: center">
        <h1 th:text="${wishList.wishListName}"></h1>
        <p th:text="${wishListOwner.getFirstName() + ' ' + wishListOwner.getLastName()}"></p>
    </div>
    <div class="wish-list">
        <th:block th:each="wish : ${wishes}">
            <div class="wish-item">
                <p th:text="${'Navn: ' + wish.name}"></p>
                <p th:text="${'Beskrivelse: ' + wish.description}"></p>
                <p th:text="${wish.price + ' Kr,-'}"></p>
                <a th:if="${wish.link != ''}" th:href="${wish.link}">Link til ønsket</a>
            </div>
        </th:block>
    </div>
    <div class="form-container">
        <label for="currentUrl">Del ønskelisten:</label>
        <input type="text" id="currentUrl" th:value="${currentUrl}" readonly onclick="this.select()">
    </div>
</div>
</body>
</html>